*{
  box-sizing: border-box;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(18, 18, 18);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-container{
  color: #61dafb;
}

.header-container {
    clear: both;
    height: 127px;
    position: absolute;
    top: 0;
    z-index: 499;
}

.header-nav {
  height: 70px;
    padding: 10px 0 0;
    position: relative;
    z-index: 499;
}
.menu-container {
    float: left;
    width: 496px;
    margin: 10px 0px 0px 140px;
}

.menu-list {
    background-position-x: 0px;
    display: flex;
    justify-content: space-around;
    transform: translateZ(0px);
    margin: 0px;
    background-color: rgb(18, 18, 18);
    opacity: 1;
    background-position: 0% 50%;
}
.menu-item {
  cursor: pointer;
  float: left;
  height: 36px;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-right: 4px solid rgb(18, 18, 18);
  border-bottom: 4px solid  rgb(0, 204, 255);
 background: rgb(18, 18, 18);
}
.menu-item:hover{  
  background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%, rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
  top: 0px;
  bottom: 4px;
  z-index: 1;
  left: 1px;
  right: 1px;
  }
.menu-link {
  font-family: interface, Helvetica Neue, helvetica, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono-header {
    float: left;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 49px;/*JYYUKYUKYUKYUKYUKYKYUKUKYUK*/
}
.icono-create {
  padding: 8.5px 16px 8.5px 16px;
  margin-right: 4px;
  margin-left: 8px;
  display: inline-block;
  background: linear-gradient(103deg,#6157ff,#7067ff,#6157ff);
  background-image: linear-gradient(103deg, rgb(97, 87, 255), rgb(112, 103, 255), rgb(97, 87, 255));
}
.icono-create2 {
  padding: 8.5px 16px 8.5px 16px;
  display: inline-block;
  margin-right: 14px;
  background: linear-gradient(103deg,#6157ff,#7067ff,#6157ff);
  background-image: linear-gradient(103deg, rgb(97, 87, 255), rgb(112, 103, 255), rgb(97, 87, 255));
}
.ico-upload-create1 {
  color: #fff;
  font-family: interface, Helvetica Neue, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.ico-upload-create2 {
  color: #fff;
  font-family: interface, Helvetica Neue, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.login-container {
  color: #fff;
  float: right;
  font-size: 12px;
  height: 40px;
  margin: 10px 0px 0px 0px;
}

.login-container a {
  background-color: rgb(62, 62, 62);
  border-bottom-color:rgb(255, 255, 255) ;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-width: 1px;
  border-left-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: right;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 700;
  margin: 0px 0px 0px 10px;
  min-width: 170px;
  outline-color: rgb(255, 255, 255);
  padding: 10px 17px 10px 40px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 170px;
}
.ss-user {
  font-size:14px;/*---dejar esto--*/
  font-stretch:100%;/*---dejar esto--*/
  height:36px;/*---dejar esto--*/
  left:0px;/*---dejar esto--*/
  line-height:40px;/*---dejar esto--*/
  margin: 0px;/*---dejar esto--*/
  position:absolute;/*---dejar esto--*/
  text-align:center;/*---dejar esto--*/
  text-decoration-color:rgb(255, 255, 255);
  text-decoration-style:solid;
  text-transform:none;
  top:0px;/*---dejar esto--*/
  vertical-align: baseline;
  width:36px;/*---dejar esto--*/
}
.ss-user::before, .ss-user.right::after {
  content: "👤";
  display: inline;
  font-weight:400;
  white-space:nowrap;
  font-style: normal;
  font-weight: normal;
  background-color:rgb(255, 255, 255);
  display:block;
  height:36px;
  width:36px;
  margin-left: 1px;
  opacity:0.1;
  position: absolute;
  
}

/*---empieza el contenedor de input---*/
.input {
  background-color: rgb(255, 255, 255);
  font-size:16px;
  width: 992px;
  height: 50px;
  margin-top: 53px;
}
.barra-container {
  background-color: rgb(18, 18, 18);
  display: flex;
  flex-wrap: wrap;
}
.searchButtonContainer {
  height:52px;
  width:52px;
  margin-top: 68px;
  position: relative;
  height: 100%;
  cursor: pointer;
}
.search-button-GradientBox ::before, .search-button-GradientBox ::after{
  background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
  background-size: 400%;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  animation: change 10s ease-in-out infinite;
  height:52px;
  width:52px;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


/*---------SLIDER--------*/

.slider {
  border: 1px solid white;
  width: 1040px;
  height: 140px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 25px 0px 50px;
}
.slide {
  border: 1px solid white;
  min-width: 100%;
  height: 80vh;
  overflow: hidden;
  transition: 0.5s;
}

#goleft {
  width: 0px;
  height: 140px;
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  left: 0px;
  transform: rotate(180deg);
  padding: 0px 12px;
  transition: opacity 0.5s ease-out 0s, width 0.5s ease-out 0s;
}
#goright {
  width: 0px;
  height: 140px;
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  right: 0px;
  padding: 0px 12px;
  transition: opacity 0.5s ease-out 0s, width 0.5s ease-out 0s;
}

.imagen-container {
  width: 10px;
  height: 10px;
}